.header__logo {
  background-image: url(../../../images/logo_white.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;  
  width: 142px;
  height: 33px;
  z-index: 2;
}

@media screen and (max-width: 425px) {
  .header__logo {
    width: 104px;
    height: 24px;
    margin-left: 27px;
}
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .header__logo {
    width: 104px;
    height: 24px;
    margin-left: 27px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header__logo {
    width: 104px;
    height: 24px;
    margin-left: 27px;
  }
}