.popup__form {
  width: 358px;
  border: none;
  margin: 0 auto 0;
  padding: 50px 0 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 425px) {
  .popup__form {
    width: 238px;
    padding: 68px 0 25px;
  }
}