.profile__add-button {
  display: flex;
  position: absolute;
  right: 0;
  /*top: 30px;*/
  justify-content: center;
  align-items: center;
  background: none;
  box-shadow: none;
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #FFFFFF;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-image: url(../../../images/add_1280.png);
  background-repeat: no-repeat;
  background-size: 22px;
  background-position-x: center;
  background-position-y: center;
}


@media screen and (max-width: 425px) {
  .profile__add-button {
    position: relative;
    margin-top: 0;
    width: 282px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px){
  .profile__add-button {
    position: relative;
    margin-top: 0;
    width: 252px;
  }
}


